<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TemplateRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Crm" connectionString="ServiceUri=http://devcrm.onco.local/OCAS;DOMAIN=ONCO;Username=OCASAdminDev;Password=bF0jrExd" />
    <add name="OCAS.CRM.Extras" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=OCAS_MSCRM.Extras;Trusted_Connection=True;MultipleActiveResultSets=True;" />
    <add name="CrmService" connectionString="http://devcrm.onco.local/OCAS/XRMServices/2011/Organization.svc" />
  </connectionStrings>
  <appSettings>
    <!-- AppSettings -->
    <add key="ocas:idsvr:appSettings:clientId" value="asapi.clientcredentials" />
    <add key="ocas:idsvr:appSettings:clientSecret" value="secret1" />
    <add key="ocas:idsvr:appSettings:scope" value="as_api" />
    <!-- Evo PDF -->
    <add key="ocas:evopdf:licenseKey" value="d/nq+Ovr+ODu6ev44Pbo+Ovp9unq9uHh4eH46A==" />
    <add key="ocas:evopdf:serviceUrl" value="https://pdfconverter-ci.dev.ocas.ca" />
    <add key="ocas:evopdf:servicePassword" value="kWKuAGIz7gC8jOXNlJdx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <TemplateRunner.Properties.Settings>
      <setting name="DocumentType" serializeAs="String">
        <value />
      </setting>
      <setting name="Locale" serializeAs="String">
        <value />
      </setting>
      <setting name="SchemaVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TestType" serializeAs="String">
        <value />
      </setting>
    </TemplateRunner.Properties.Settings>
  </userSettings>
</configuration>